.termruby {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 2px 6px;
  margin: 10% auto;
  font-size: smaller;
  color: #555;
  width: 100%;
}

.category {
  border: 1px solid #555;
  background-color: #666;
  border-radius: 5px;
  padding: 2px 6px;
  margin: 10% auto;
  font-size: smaller;
  color: #fff;
  width: 100%;
}

.firstAppearance {
  border: 1px solid #555;
  background-color: #666;
  border-radius: 5px;
  padding: 2px 6px;
  margin: 10% auto;
  font-size: smaller;
  color: #fff;
  width: 100%;
}

.noticeBox{
  border: 1px solid #009966;
  background-color: #D0FAE5;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  color: #006045;
  width: 100%;
  font-weight: 600;

}